.cardContent {
  width: 255px;
  height: 380px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  cursor: pointer;
  text-align: center;
  transition: 0.3s ease;
}

.cardContent:hover {
  transform: translateY(-5px);
}

.cardImg {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}


.cardContent:hover .cardImg {
  transform: scale(1.1); 
  filter: brightness(80%);
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardName {
  font-size: 0.92rem;
  color: #555;
  margin: 12px 0 0px;
  /* background-color: red; */
}

.cardPrix {
  font-size: 1.2rem;
  font-weight: bold;
  color: dark;
  margin-top: 10px;
}

@media (max-width: 650px) {
  .cardContent {
    width: 300px;
    height: 420px;
  }  

  .cardPrix {
    margin-top: 5px;
  }
}
