.sideContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 4;
    border: 0.1px solid rgb(160, 158, 158); 
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
}

.sideLeft {
    flex: 6;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sideLeft h1 {
    font-family: Georgia, serif;
    font-size: 44px;
}

.sideRight {
    flex: 6;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
 .titlePer{
    display: flex;
    justify-content: center; 
    align-items: center;
 }

.titleBordre {
    width: 50px;
    height: 3px;
    background-color: black;   
    margin: 0 10px;
}

/* responsive main */
@media (max-width: 768px) {
    .sideContent {
        display: flex;
        flex-direction: column;
    }

    .sideLeft {
        order: 1;
    }

    .sideRight{
    }

    .headerSection {
        text-align: center;
    }

    .img {
        object-fit: cover;
    
    }
}