.topBar {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10000;
  width: 90%;
  max-width: 1400px;
  padding: 10px 20px;
  margin: auto;
}

.mobileHeader {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.logoImg {
  height: 45px;
}

.menuIcon {
  margin-top: -10px;
  cursor: pointer;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  margin: auto;
  width: 100%;
  padding: 10px 0;
}

.rightTopBar {
  flex: 2;
  align-items: center;
  cursor: pointer;
}
.centerTopBar {
  display: flex;
  justify-content: center;
  flex: 5;
}

.listLinks {
  display: flex;
  gap: 20px;
}

.link {
  list-style: none;
}

.link a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

.link a:hover {
  color: #f0a1d8;
}

.leftTopBar {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
  flex: 2;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 5px 12px;
  border-radius: 20px;
  height: 25px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-input {
  border: none;
  background: transparent;
  outline: none;
  padding: 5px;
  width: 180px;
  font-size: 14px;
}

.search-icon {
  color: #333;
  margin-right: 8px;
}

.icon {
  cursor: pointer;
  color: #333;
  transition: color 0.3s, transform 0.2s;
}

.icon:hover {
  color: #f0a1d8;
  transform: scale(1.1);
}

@media (max-width: 900px){
  .rightTopBar {
    display: none;
  }
}
@media (max-width: 768px) {
  .mobileHeader {
    display: flex;
  }

  .navContent {
    display: none;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    margin: auto;
  }

  .navContent.show {
    display: flex;
  }

  .centerTopBar,
  .leftTopBar {
    justify-content: center;
  }

  .listLinks {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .search-input {
    width: 120px;
  }
}
