.content {
    display: flex;
    gap: 40px;
    width: 90%;
    max-width: 1300px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    font-family: sans-serif;
    border-top: 1px solid #ccc;
    margin-bottom: 30px;
    /* height: 30vh; */
    /* background-color: red; */
  }
  
  .images {
    flex: 6;
    display: flex;
    width: auto;
    gap: 30px;
  }
  
  .list-images {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 20px;
  } 
  .list-images img {
    border-radius: 8px;
    width: 105px;
    height: 110px;
    object-fit: cover;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .image {
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  
  
  .details-product {
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .product-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .reviews {
    display: flex;
    align-items: center;
    gap: 6px;
    color: orange;
    font-size: 14px;
  }
  
  .reviews .count {
    color: gray;
  }
  
  .prix {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .description {
    color: #555;
    line-height: 1.6;
  }
  
  .size h4 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .size-options {
    display: flex;
    gap: 20px;
  }
  
  .size-btn {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 4px;
  }
  
  .size-btn:hover {
    background-color: #f2f2f2;
  }
  
  .add-to-cart {
    background-color: black;
    color: white;
    padding: 15px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    transition: 0.3s ease;
    width: 150px;
  }
  
  .add-to-cart:hover {
    background-color: #222;
  }
  
  .extra-info {
    color: #777;
    font-size: 12px;
    margin-top: 10px;
    line-height: 1.4;
  }
  

  @media (max-width: 990px) {
    .content {
      width: 80%;
      flex-direction: column;
      gap: 20px;
      padding: 10px;
      margin: auto;
    }

  
    .list-images {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 120px;
    }
  
    .image {
      height: 470px;
    }
  
    .details-product {
      flex: 1;
    }
  
    .product-title {
      font-size: 18px;
    }
  
    .prix {
      font-size: 20px;
    }
  
    .size-btn {
      padding: 6px 12px;
    }
  
    .add-to-cart {
      width: 100%;
      padding: 12px;
    }
  }
  
 
   @media (max-width: 660px) {
    .content {
      width: 85%;
    }
    .images {
      display: flex;
      flex-direction: column-reverse;
    }
    .list-images {
      flex: 1;
      display: flex;
      flex-direction: row;
      width: 100%;
      /* background-color: red; */
      gap: 10px;
    }

    .list-images img {
      width: 23%;
    }
  
    .product-title {
      font-size: 16px;
    }
  
    .prix {
      font-size: 18px;
    }
  
    .description {
      font-size: 14px;
    }
  
    .size-btn {
      padding: 5px 10px;
    }
  
    .add-to-cart {
      font-size: 12px;
      padding: 10px 15px;
    }
  
    .extra-info {
      font-size: 12px;
    }
  }
  